<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <nav
    class="navbar navbar-expand-sm navbar-light bg-light"
  >
    <div class="nav navbar-nav">
        <a class="nav-item nav-link" href="/"> Inicio </a>
        <a class="nav-item nav-link" href="/clima"> Clima </a>
    </div>
  </nav>
  {% block body %}
  {% endblock %}
</body>
</html>